doctype html
html(lang="en")
  head
    title Favemarx - Your Favorite Bookmarks
    script(src="bookmarks.js") 
    link(rel='stylesheet' href='bookmarks.css')
  body
    h1 Your Favemarx
    header
      div='Account Name: ' + username
      div
        a(href='/logout') Logout
    table
      tbody
        each website in websites
          tr
            td(value=website.id)
              button(title='delete' onclick='deleteBookmark(this)') &#10060;
              button(title='undo' hidden onclick='undoDeleteBookmark(this)') &#x21a9;&#xfe0f;
              button(title='edit' onclick='editBookmark(this)') &#x1f58a;&#xfe0f;
              button(title='save' hidden onclick='saveEditBookmark(this)') &#x1f44d;
              button(title='cancel' hidden onclick='cancelEditBookmark(this)') &#x1f44e;
            td
              a(href=website.url)=website.name
              input(type="hidden" name="name" value=website.name)
              input(type="hidden" name="url" value=website.url)
            td=website.date.toLocaleDateString()
    form(action="/add" method="post")
      label Site name:
        input(type="text" name="name")
      label URL:
        input(type="url" name="url")
      input(type="submit" value="Add Favemarx")