doctype html
html(lang="en")
  head
    title favemarx - your favorite bookmarks
    script(src="bookmarks.js") 
    link(rel='stylesheet' href='style.css')
  body
    h1 Your Favemarx, 
    table
      tbody
        each website in websites
          tr
            td
              button(class='delete' onclick='deleteBookmark(this)' value=website.id) &#10060;
              button(class='undo' hidden onclick='undoDeleteBookmark(this)') &#x21a9;&#xfe0f;
              button(class='edit' onclick='editBookmark(this)') &#x1f58a;&#xfe0f;
              button(class='save' hidden onclick='saveEditBookmark(this)') &#x1f44d;
              button(class='cancel' hidden onclick='cancelEditBookmark(this)') &#x1f44e;
            td
              a(href=website.url)=website.name
              input(hidden type="hidden" name="name" value=website.name)
              input(hidden type="hidden" name="url" value=website.url)
            td=website.date.toLocaleDateString()
    form(action="/add" method="post")
      div
        label Site name:
        input(type="text" name="name")
      div
        label URL:
        input(type="url" name="url")
      div(style="text-align: right;")
        input(type="submit" value="Add Favemarx")